/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ================================================ */

body {
	background-color: rgb(53, 61, 93);
}

.menu {
	float: left;
    background-color: wheat;
    margin: 15px;
    padding: 35px;
    box-shadow: 0px 0px 15px 1px #111;
}


.button {
	border-radius: 10px;
    border: 1px solid #353d5d;
    padding: 0.5em 2em;
    font-size: 1.2em;
    background-color: #707eb7;
    box-shadow: 1px 1px 2px 0px black;
    color: #feffff;
    cursor: pointer;
    margin: 10px 5px;
    text-align: center;
    width: 70px;
}
.button:hover {
	background-color: rgb(53, 61, 93);
	box-shadow: 0 0 0 0 black;
}

section {
	margin: 15px 0;
}
div .button {
	display: inline-block;
}
/* ====================== Switch ================== */
.switch {
	border: 2px solid #707eb7;
	border-radius: 15px;
	box-sizing: border-box;
	box-shadow: 1px 1px 2px 0px black;
	color: #353d5d;
	background-color: #c8d1f5;
	padding: 0.5em 0;
	text-align: center;
	cursor: pointer;
}
.controls-sec .switch {
	width: 150px;
	margin: 10px 5px;
	margin-left: 5px;
	display: inline-block;
}
.active {
	border: 2px solid rgb(53, 61, 93);
	color: #353d5d;
	background-color: #a6f75e;
	box-shadow: none;
}
/* ================================= picker ============================== */
.picker {
	margin: 10px 5px;
}
.pick {
	display: inline-block;
	cursor: pointer;
	color: white;
	margin-right: 5px;
	border: 1px solid #707eb7;
	border-radius: 40px;
	background-color: #707eb7;
	text-align: center;
	width: 100px;
	padding: 0.5em 0;
	box-shadow: 1px 1px 2px 0px black;
}
.picked {
	box-shadow: none;
	border: none;
	background-color: rgb(53, 61, 93);
}
/* ======================================================================== */

/* ========================== colors ====================================== */
.color {
	border-radius: 50%;
	box-sizing: border-box;
	width: 1.5em;
	height: 1.5em;
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;
	box-shadow: 1px 1px 2px 0px black;
}
.chosen {
	box-shadow: none;
	border: none;
	width: 2.5em;
	height: 2.5em;
}









/* ======================================================================== */
.container {
    height: 850px;
    width: 850px;
    float: left;
    box-sizing: content-box;
    background-color: rgb(247, 229, 195);
    box-shadow:  0px 0px 15px 1px #111, inset 0 0 12px 0px;
    margin: 15px;
    padding: 8px;
	border: 25px solid wheat;
    border-radius: 30px 0 30px 0;
}

.square {
	display: inline;
	box-sizing: border-box;
	float: left;
	border: 1px dotted black;
	background-color: transparent;
}

.painted {
	background-color: lime;
}

section p {
	padding: 0.1em;
}

/* ======================= Typography ====================*/
h1, p {
	font-family: Quicksand;
}

h1 {
	font-size: 1.2em;
	text-decoration: underline;
}

.button, .switch, .pick {
	font-family: "Source Code Pro";
}

span {
	font-weight: 700;
	color: rgb(53, 61, 93);
}
/* =======================================================*/